<h1>Update</h1>
<form action="/blog/update_process" method="POST">
  <input type="hidden" name="id" value="<%=@post.id%>">
  <p>이름 : <input type="text" name="username_from_view" value="<%= @post.username %>"></p>
  <p>내용 : <textarea name="content_from_view"><%=@post.content%></textarea></p>
  <p><input type="submit" value="수정하기!"></p>
</form>
